 {% load static %}
 <!-- BEGIN Navigation -->
 <div class="header">
   <div class="container">
     <a class="site-logo" href="{% url 'homepage' %}"><img src="{% static '/corporate/img/logos/logo-shop-red.png' %}"
         alt="Metronic Shop UI"></a>

     <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

     <!-- BEGIN CART -->
     <div class="top-cart-block">
       <div class="top-cart-info">
         <div id="cart-qty" class="top-cart-info-count">No Items</div>
         <a href="{% url 'cart:cart summary' %}" class="top-cart-info-value">$0</a>
       </div>
       <a type=button href="#" class="fa fa-shopping-cart"></a>
       <div class="top-cart-content-wrapper">
        <div class="top-cart-content">
          <div class="text-center">
            <a href="shop-shopping-cart.html" class="btn btn-default">View Cart</a>
            <a href="shop-checkout.html" class="btn btn-primary">Checkout</a>
          </div>       
         </div>
       </div>
     </div>
     <!--END CART -->

     <!-- BEGIN NAVIGATION -->
     <div class="header-navigation">
       <ul>
         <li class="dropdown">

           <!-- BEGIN DROPDOWN MENU -->
           <ul class="dropdown-menu">
             <li class="dropdown-submenu">
               <ul class="dropdown-menu" role="menu">
                 <li><a href="shop-product-list.html">Second Level Link</a></li>
                 <li><a href="shop-product-list.html">Second Level Link</a></li>
                 <li class="dropdown-submenu">
                   <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                     Second Level Link
                     <i class="fa fa-angle-right"></i>
                   </a>
                   <ul class="dropdown-menu">
                     <li><a href="shop-product-list.html">Third Level Link</a></li>
                     <li><a href="shop-product-list.html">Third Level Link</a></li>
                     <li><a href="shop-product-list.html">Third Level Link</a></li>
                   </ul>
                 </li>
               </ul>
             </li>
           </ul>
           <!-- END DROPDOWN MENU -->

         </li>
         {% for category in categories %}
         <li class="dropdown dropdown-megamenu">
           <a class="dropdown-toggle" data-toggle="dropdown" data-target="sub_category" href="javascript:;">
             {{ category.name|title }}

           </a>

           <ul class="dropdown-menu">
             <li>
               <div class="header-navigation-content">
                 <div class="row">
                   {% for sub_category in category.product_subcategories.all %}
                   <div class="col-md-4 header-navigation-col">
                     <ul>
                       <li><a href="{{ sub_category.get_absolute_url }}">{{ sub_category.name }}</a></li>

                     </ul>
                   </div>
                   {% endfor %}
                   <div class="col-md-12 nav-brands">
                     <ul>
                       <li><a href="shop-product-list.html"><img title="esprit" alt="esprit"
                             src="{% static '/pages/img/brands/esprit.jpg' %}"></a></li>
                       <li><a href="shop-product-list.html"><img title="gap" alt="gap"
                             src="{% static '/pages/img/brands/gap.jpg' %}"></a></li>
                       <li><a href="shop-product-list.html"><img title="next" alt="next"
                             src="{% static '/pages/img/brands/next.jpg' %}"></a></li>
                       <li><a href="shop-product-list.html"><img title="puma" alt="puma"
                             src="{% static '/pages/img/brands/puma.jpg' %}"></a></li>
                       <li><a href="shop-product-list.html"><img title="zara" alt="zara"
                             src="{% static '/pages/img/brands/zara.jpg' %}"></a></li>
                     </ul>
                   </div>
                 </div>
               </div>
             </li>
           </ul>
         </li>
         {% endfor %}

         <!-- BEGIN TOP SEARCH -->
         <li class="menu-search">
           <span class="sep"></span>
           <i class="fa fa-search search-btn"></i>
           <div class="search-box">
             <form action="#">
               <div class="input-group">
                 <input type="text" placeholder="Search" class="form-control">
                 <span class="input-group-btn">
                   <button class="btn btn-primary" type="submit">Search</button>
                 </span>
               </div>
             </form>
           </div>
         </li>
         <!-- END TOP SEARCH -->
       </ul>
     </div>
     <!-- END NAVIGATION -->
   </div>
 </div>
 <!-- Navigation END -->