{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head BEGIN -->

<head>
    {% block page_title %}
    {% endblock %}
    {% include 'base/header.html' %}
</head>
<!-- Head END -->

<!-- Body BEGIN -->

<body>
    <!-- Nav BEGIN -->
    {% include 'base/nav/top_bar.html' %}
    {% include 'base/nav/nav_bar.html' %}
    <!-- Nav END -->

    {% block page_content %}

    {% endblock %}

    <!-- Footer BEGIN -->
    {% include 'base/footer/steps.html' %}
    {% include 'base/footer/pre-footer.html' %}
    {% include 'base/footer/footer.html' %}

    {% include 'base/footer/helpers/fast_view_product.html' %}
    {% include 'base/footer/helpers/core_scripts.html' %}


    {% block page_scripts %}
    {% endblock %}

    <!-- Footer END -->

</body>
<!-- Body END -->

</html>