{% extends 'base/base.html' %}

{% block page_title %}
     <meta charset="utf-8">
     <title>Home | Metronic Shop UI</title>
{% endblock %}


{% block page_content %}
   <!-- BEGIN SLIDER -->
  {% include 'main/page_elements/slider.html' %}
  <!-- END SLIDER -->

   <!-- BEGIN TWO PRODUCTS & PROMO -->
   <div class="row margin-bottom-35 ">
    <!-- BEGIN TWO PRODUCTS -->
    {% include 'main/page_elements/two_products.html' %}
    <!-- END TWO PRODUCTS -->
    <!-- BEGIN PROMO -->
    {% include 'main/page_elements/promotions.html' %}
    <!-- END PROMO -->
  </div>        
  <!-- END TWO PRODUCTS & PROMO -->
</div>
</div>

<!-- BEGIN BRANDS -->
{% include 'main/page_elements/brands.html' %}
<!-- END BRANDS -->


{% endblock %}
{% block page_scripts %}
   {% include 'base/footer/helpers/homepage_scripts.html' %}
{% endblock %}
    