{% load static %}
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-4 col-sm-4 padding-top-10">
          2015 © Keenthemes. ALL Rights Reserved. 
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN PAYMENTS -->
        <div class="col-md-4 col-sm-4">
          <ul class="list-unstyled list-inline pull-right">
            <li><img src="{% static '/corporate/img/payments/western-union.jpg' %}" alt="We accept Western Union" title="We accept Western Union"></li>
            <li><img src="{% static '/corporate/img/payments/american-express.jpg' %}" alt="We accept American Express" title="We accept American Express"></li>
            <li><img src="{% static '/corporate/img/payments/MasterCard.jpg' %}" alt="We accept MasterCard" title="We accept MasterCard"></li>
            <li><img src="{% static '/corporate/img/payments/PayPal.jpg' %}" alt="We accept PayPal" title="We accept PayPal"></li>
            <li><img src="{% static '/corporate/img/payments/visa.jpg' %}" alt="We accept Visa" title="We accept Visa"></li>
          </ul>
        </div>
        <!-- END PAYMENTS -->
        <!-- BEGIN POWERED -->
        <div class="col-md-4 col-sm-4 text-right">
          <p class="powered">Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
        </div>
        <!-- END POWERED -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->