{% extends 'base/base.html' %}
{% load static %}
{% block page_title %}
<meta charset="utf-8">
<title>Password has been reset | Metronic Shop UI</title>
{% endblock %}
{% block page_content %}

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="main">
  <div class="container">
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1 style="color: hsl(14,81%,50%)">Password reset complete</h1>
        <!-- BEGIN CHECKOUT PAGE -->
        <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
          <div id="checkout" class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                {% comment %} <h5>
                  Welcome to Metronic Shop UI
                </h5> {% endcomment %}
              </h2>
            </div>
            <!-- BEGIN CHECKOUT -->
            <div id="checkout" class="panel panel-default">
              <div id="checkout-content" class="panel-collapse collapse in">
                <div class="panel-body row">
                  <div class="col-md-6 col-sm-6">
                    <h3><b>Your password has been set. You may go ahead and log in now.
                      </b></h3>

                    <div class="padding-top-10">
                      <form action="{% url 'user login' %}">
                        <button class="btn btn-primary" type="submit">Login</button>
                      </form>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CHECKOUT -->

  {% endblock %}